.web {
    display: flex;
    flex: 1;
    align-items: center;
}
.web-field {
    font-size: 14px;
    margin-right: 20px;
    font-weight: 700;
    position: relative;
    padding: 5px 0px;
}
.web-field:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 2px;
}
.web-field::before,
.web-field::after {
    transition: all .5s;
}
.web-field:hover::after {
    width: 100%;
}
.web-field:last-child {
    margin-right: 0;
}
.web-field a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.web-field.dark a {
    color:#ECDBBA
}
.field-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
