.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-title {
    font-size: 32px;
    font-weight: 700;
}
.contact-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}
.contact-left {
    max-width: 50%;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
.contact-left .social-icons {
    padding-top: 20px;
    margin-right: 120px;
}
.resume-download {
    margin-top: 20px;
    background-color: #faebd7c9;
    padding: 8px 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.resume-download:hover {
    background-color: #ebdbc6;
    transition: all .3s;
}
.resume-download a{
    text-decoration: none;
    color: black;
}
.resume-download i {
    margin-right: 5px;
}
.contact-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    box-shadow: 0 4px 4px 0 rgb(162 162 162 / 20%), 0 6px 15px 0 rgb(62 162 162 / 20%);
    border-radius: 8px;
}

input[type='text'], input[type='email'] {
    display: block;
    height: 35px;
    padding-left: 10px;
    width: 55%;
    border: none;
    margin: 0px auto 10px auto;
    border-radius: 5px;
    background-color: #ecf1f1ad;
}
textarea {
    display: block;
    border: none;
    width: 55%;
    padding-left: 10px;
    margin: 0px auto 10px auto;
    border-radius: 5px;
    background-color: #ecf1f1ad;
}
.contact-form-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.submit-btn {
    display: block;
    margin: 10px auto;
    width: 57%;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #2393da;
    transition: all .3s;
}
.contact-form-wrapper .form-heading {
    font-weight: 900;
    display: block;
    width: 55%;
    margin: 0px auto 10px auto;
    font-size: 20px;
}
.success-msg {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 8px;
    margin: 10px auto;
    width: 55%;
}
.error-msg {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 8px;
    margin: 10px auto;
    width: 55%;
}
@media only screen and (max-width: 720px) {
    .contact-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    } 
    .contact-form {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }   
    .contact-left {
        max-width: 100%;
        font-size: 16px;
        margin: 10px auto;
        text-align: center;
        padding: 0px;
    }
    .contact-left .social-icons {
    margin: 0px;
    }
    .contact-form-wrapper {
        padding: 0px;
    }
    .contact-form-wrapper .form-heading {
        width: 100%;
        text-align: center;
    }
    input[type='text'], input[type='email'], textarea {
        width: 75%;
    }
    .submit-btn {
        width: 78%;
    }
    .download {
        font-size: 16px;
    }
}