.input-name {
    display: block;
    height: 35px;
    padding-left: 10px;
    width: 55%;
    border: none;
    margin: 0px auto 10px auto;
    border-radius: 5px;
    background-color: #ecf1f1ad;
}
.input-name.form-invalid {
    background-color: #df3955af;
    color: white;
}
textarea {
    display: block;
    border: none;
    width: 55%;
    padding-left: 10px;
    margin: 0px auto 10px auto;
    border-radius: 5px;
    background-color: #ecf1f1ad;
}
.contact-form-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}
.submit-btn {
    display: block;
    margin: 10px auto;
    width: 57%;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    cursor: pointer;
    position: relative;
}
.submit-btn i {
    margin-left: 5px;
}
.submit-btn:hover {
    background-color: #2393da;
    transition: all .3s;
}
.submit-btn:disabled {
    background-color: #93d6ff94;
    cursor: not-allowed;
}
.contact-form-wrapper .form-heading {
    font-weight: 900;
    display: block;
    width: 55%;
    margin: 0px auto 10px auto;
    font-size: 20px;
}
.success-msg {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 8px;
    margin: 10px auto;
    width: 55%;
}
.error-msg {
    color: rgb(242, 58, 58);
    margin: 10px auto;
    width: 55%;
    border-radius: 8px;
}
@media only screen and (max-width: 720px) {
    .contact-form-wrapper {
        padding: 0px;
    }
    .contact-form-wrapper .form-heading {
        width: 100%;
        text-align: center;
    }
    input[type='text'], input[type='email'], textarea {
        width: 75%;
    }
    .submit-btn {
        width: 78%;
    }
    .error-msg {
        width: 60%;
    }
}