.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(253, 195, 50, 0.862);
    border: 1px solid grey;
    padding: 3px 10px 5px;
    border-radius: 50%;
    transition: transform .2s;
    font-size: 24px;
}
.scroll-to-top:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}