.project-card {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 10px 16px 0px;
    padding: 20px 20px 15px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 200px;
    max-height: 600px;
    height: 100%;
}
.project-card.dark {
    background-color:#2D4263;
    box-shadow: 0 4px 8px 0 rgba(46, 46, 46, 0.2), 0 6px 20px 0 rgba(104, 104, 104, 0.19);
}
.project-picture {
    width: 20%;
}
.project-title {
    font-size: 20px;
    font-weight: 600;
}
.tech-stack{
    font-weight: bold;
}
.project-description {
    margin: 10px;
}
.project-about {
    margin: 5px auto;
}
.project-links {
    display: flex;
    margin: 5px auto;
    justify-content: space-around;
    
}
.view-more-cta {
    padding: 5px 10px;
    font: inherit;
    border-radius: 8px;
    background-color: rgb(40, 38, 38);
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 15px;
}
.project-link {
    text-decoration: none;
    color: black;
}
.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faebd7c9;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
}
.link-button:hover {
    background-color: #ebdbc6;
    transition: all .3s;
}
.link-icon {
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.project-tags {
    margin: 10px auto;
}
.tag {
    padding: 4px 8px;
    background-color: #add8e65e; 
    margin-right: 5px;  
    border-radius: 4px;
}
@media only screen and (max-width: 720px) {
    .project-picture {
        width: 70%;
    }
    .project-card {
        flex-direction: column-reverse;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }
    .tag {
        max-width: 100%;
    }
} 