@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Montserrat:ital,wght@0,600;0,700;1,700&family=Nunito&family=Prompt:wght@300&family=Red+Hat+Mono:wght@500&family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: 'Varela Round', 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Varela Round', 'Montserrat';
}
